################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LibZeroTier/bin/Release
/LibZeroTier/obj/Release
